.container,.container img{
    width:120px;
    height:120px;
    transition: .6s transform ease-out;
}
.container img{
    box-shadow:12px 12px 10px #fff;
    transform-origin:center;
    position:absolute;


}
.container{
    margin:0 auto;
}


 img:active{
   width:590px;
   height:590px;
    top:40px;
    right:-500px;
    border-radius: 50%;
    border:1px solid black;
    

    
}
div .container:hover img:nth-child(1){
    transform:translatex(490px);
}
div .container:hover img:nth-child(2){
    transform:translatex(-490px);
}
div .container:hover img:nth-child(3){
    transform:translatex(390px);
}
div .container:hover img:nth-child(4){
    transform:translatex(-390px);
}